

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: arial;

}

.nav {
    width: 100%;
    min-height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(188, 234, 219);
    
}

.logo {
    width: 200px;
    height: 50px;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 80px;
}

.nav ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav button {
    padding: 13px 35px;
    background-color: #7824ff;
    /* border: 2px solid black; */
    font-size: 18px;
    border-radius: 25px;
    color: white;
    border: none;
}

.main-section {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.left {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 70px;
    gap: 30px;
    position: relative;
    background: url(thailand_1496045164m.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.left h5 {
    color: #6102fa;
    font-size: 17px;
}

.left h1 {
    font-size: 50px;
    width: 60%;
    color: white;
}

.span1 {
    color: #a77de9;
}

.left p {
    font-size: 20px;
    color: white;
}

.left button {
    padding: 13px 35px;
    background-color: #7824ff;
    /* border: 2px solid black; */
    font-size: 18px;
    border-radius: 25px;
    color: white;
    border: none;
}


.second-section {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 243, 243, 0.724);

    /* background: url(scenic.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover; */
}

.left2 {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 60px;
    gap: 15px;
}
.left2 h5 {
    font-size: 20px;
    color: #6102fa;
}
.left2 h1 {
    font-size: 50px;
    width: 90%;
}

.left2 p {
    font-size: 18px;
    width: 70%;
}
.left2 button {
    padding: 13px 35px;
    background-color: #7824ff;
    /* border: 2px solid black; */
    font-size: 18px;
    border-radius: 25px;
    color: white;
    border: none;
}

.right {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right img {
    width: 90%;
    border-radius: 30px;
}

.third {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 243, 243, 0.724);c
    /* background: url(scenic.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover; */
}

.left1 {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-left: 60px; */
    /* gap: 15px; */
}

.left1 img {
    width: 70%;
    border-radius: 30px;
}

.right2 {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 30px;
    gap: 15px;
}

.sri {
    color: #6102fa;
}

.right2 h1 {
    font-size: 50px;
}

.right2 p {
    font-size: 18px;
    width: 80%;
}
