

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: arial;
}

.navbar {
    width: 100%;
    min-height: 70px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff4747;
}

.logo {
    width: 220px;
    height: 60px;
    /* border: 2px solid forestgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.logo img {
    width: 120px;
}

.logo h1 {
    font-size: 22px;
    
}



.navbar ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;

}


.icon {
    width: 150px;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

 .fa-phone {
    font-size: 27px;
}

.fa-user {
    font-size: 27px;
}


.main {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(ai-generated-two-happy-dogs-happily-eat-their-food-from-colorful-bowls-free-photo.jpeg);
    object-fit: cover;
    background-size: cover;
    
}
.text {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:start;
    background-color: rgba(0, 0, 0, 0.349);
    flex-direction: column;
    padding-left: 50px;
    gap: 30px;

}
.text h1 {
    font-size: 60px;
    color: white;
}

.text p {
    font-size: 20px;
    color: white;
}

.text button {
    padding: 12px 30px ;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    /* gap: 10px; */
    background-color: #ff4747;
}

.fa-right-long {
    font-size: 25px;
    margin-left: 10px;
}
.second {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ece5e5;
}

.card-item {
    width: 330px;
    height: 450px;
    border:2px solid #ff4747;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.45);
}

.card-item img {
    width: 250px;
    height: 250px;
}

.card-item h2 {
    font-size: 20px;
}

.card-item h3 {
    font-size: 30px;
    color: #ff4747;
}

.card-item button {
    padding: 12px 40px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: #ff4747;
}


.top {
    width: 100%;
    min-height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

 .left {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items:start;
    background-color: rgb(238, 224, 170);
    flex-direction: column  ;
    padding-left: 30px;
    gap: 30px;
}

.left h1 {
    font-size: 50px;
}
.left button {
    padding: 12px 25px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(220, 111, 21);
}
.right {
    width: 50%;
    min-height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(238, 224, 170);


} 






















